<mat-toolbar>
  <span>Angular Popout Test</span>
</mat-toolbar>

<div class="container">
  <mat-card style="background-color: #dedede">
    <mat-card-content>
      <mat-card>
        <app-counter />
      </mat-card>

      <mat-card>
        <app-counter-controls />
      </mat-card>
    </mat-card-content>
  </mat-card>
</div>

<div class="container">
  <mat-card style="background-color: #dedede">
    <mat-card-content>
      <mat-card>
        <app-bar-chart />
      </mat-card>
  </mat-card-content>
  </mat-card>
</div>

<router-outlet />
